body
{
    margin-left: 0%;
}
img
{
    margin-left: 46%;
}
h1
{
text-align: center;
position: relative;
}
#main_div
{
    position: fixed;
    margin: auto;
    background-color: lightslategrey;
    width: 25%;
    height: 30%;
    padding: 10px;
    /* margin-left: 40%;
    padding-bottom: 30%; */
}