header
{
    text-size-adjust: 40;
    background-color: rgb(8, 8, 8);
    /*width: 70%;*/
    color: red;
    height: 50px;
    text-align: center;
}
#MI
{  
    width: 50%;
    background-color: rgb(36, 195, 243);
    color: rgb(71, 7, 248);
    border-top: 5px solid rgb(1, 247, 22);
}
#mi_head{
    text-decoration: underline;
    text-align: center;
}
#DC
{
    width: 50%;
    background-color: springgreen;
    color: steelblue;
    border-bottom: 5px solid rgb(15, 15, 15);
}
.mi_list
{
    color: white;
    font-weight: 1000;
}
#dc_list
{
    color: yellow;
    font-size: small;
}